<div id="board-options" class="modal" ng-controller="BoardOptionsModalController" ng-show="state == 'modal'"><div>
	<div class="header">Board Options</div>
	<div class="content">
		<div class="error" ng-show="error != null">{{error}}</div>
		<%= form_tag "", id: "board-options-form", "ng-submit" => "submit()" do %>
			<%= label_tag :time_zone, "Time Zone" %>
			<%= select_tag :time_zone, time_zone_options, class: "row", "ng-model" => "board_options.time_zone" %>
		<% end %>
	</div>
	<div class="footer align-center">
		<a class="button" ng-click="submit()">Save</a>
		<a class="button" ng-click="cancel()">Cancel</a>
	</div>
</div></div>