<% content_for :subtitle do %>Online Daily Task Scheduler<% end %>

<%= render partial: "notice" %>

<section id="new-board">
	<%= form_tag(create_board_path, method: :post) do %>
		<%= text_field_tag(:name, nil, placeholder: "Board Name") %>
		<%= submit_tag("Create") %>
	<% end %>
</section>
