// Micro Clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}
	
	&:after {
		clear: both;
	}
	
	*zoom: 1;
}

// Helper class for clearfix
.cf {
	@include clearfix;
}

// Make an element unselectable
@mixin unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

// Helper class for unselectable
.unselectable {
	@include unselectable;
}

// Revert to border box sizing
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Buttons
@mixin button {
	display: inline-block;
	padding: 4px 8px;
	background: #fafafa;
	border-radius: 3px;
	border: {
		top: 1px solid #eee;
		left: 1px solid #eee;
		right: 1px solid #ccc;
		bottom: 1px solid #ccc;
	}
	box-shadow: inset 0 -1px #ccc, inset 0 1px #fff;
	font-weight: bold;
	cursor: pointer;
	vertical-align: top;
	
	&:active {
		box-shadow: inset 0 1px #f6f6f6;
		padding: 5px 8px 3px 8px;
	}
}

// Colors
$red-1: #ff009c;
$red-2: #ff0030;
$red-3: #ff2400;
$red-4: #ff6600;

$green-1: #9cff00;
$green-2: #60ff00;
$green-3: #00ff0c;
$green-4: #00ff84;

$blue-1: #00c0ff;
$blue-2: #007eff;
$blue-3: #ff009c;
$blue-4: #ff009c;

$gray-1: #aaa;

// Color helper classes
.red-1 { color: $red-1; }
.red-2 { color: $red-2; }
.red-3 { color: $red-3; }
.red-4 { color: $red-4; }

.green-1 { color: $green-1; }
.green-2 { color: $green-2; }
.green-3 { color: $green-3; }
.green-4 { color: $green-4; }

.blue-1 { color: $blue-1; }
.blue-2 { color: $blue-2; }

.gray-1 { color: $gray-1; }
