@import url(http://fonts.googleapis.com/css?family=Telex);
@import "utils";

header, main, footer {
	width: 890px;
	margin: 0 auto;
	font-family: "Verdana", "sans-serif";
}

header {
	@include clearfix;
	@include unselectable;
	position: relative;
	margin-bottom: 10px;
	cursor: default;
	
	#brand {
		font-family: "Telex", sans-serif;
		font-weight: bold;
		font-size: 36px;
		float: left;
		
		em {
			font-style: normal;
		}
		
		.subdomain {
			em:nth-child(1) { color: $red-1; }
			em:nth-child(2) { color: $red-2; }
			em:nth-child(3) { color: $red-3; }
			em:nth-child(4) { color: $red-4; }
		}
		
		.domain {
			em:nth-child(1) { color: $green-1; }
			em:nth-child(2) { color: $green-2; }
			em:nth-child(3) { color: $green-3; }
			em:nth-child(4) { color: $green-4; }
		}
		
		.tld {
			em:nth-child(1) { color: $blue-1; }
			em:nth-child(2) { color: $blue-2; }
		}
		
		.separator {
			color: #888;
		}
	}
	
	#subtitle {
		font-family: "Telex", sans-serif;
		font-weight: bold;
		font-size: 18px;
		float: right;
		color: #aaa;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

main {
	
}

footer {
	@include clearfix;
	@include unselectable;
	margin-top: 10px;
	
	#copyright {
		float: left;
		color: #ccc;
		font-weight: bold;
		font-size: 14px;
		font-family: "Telex", sans-serif;
		cursor: default;
	}
	
	#footer-links {
		float: right;
		font-size: 20px;
		
		a:nth-child(1) { color: $red-1; }
		a:nth-child(2) { color: $red-3; }
		a:nth-child(3) { color: $green-1; }
		a:nth-child(4) { color: $green-3; }
		a:nth-child(5) { color: $blue-1; }
	}
}

section#promotion {
	.promotion-column {
		padding: 0 30px;
		
		.title {
			font-family: "Telex", sans-serif;
			font-weight: bold;
			font-size: 24px;
		}
		
		.fa {
			display: block;
			font-size: 64px;
		}
		
		.blurb {
			width: 100%;
			text-align: justify;
		}
	}
}
