@import url(http://fonts.googleapis.com/css?family=Telex|Droid+Sans);
@import "utils";

header, main, footer {
	width: $width;
	margin: 0 auto;
	font-family: "Droid Sans", sans-serif;
	font-size: 14px;
}

header {
	@include clearfix;
	@include unselectable;
	
	position: relative;
	margin-bottom: 16px;
	padding-bottom: 6px;
	border-bottom: 1px solid #eee;
	cursor: default;
	
	#brand {
		font-family: "Telex", sans-serif;
		font-weight: bold;
		font-size: 36px;
		height: 42px;
		line-height: 56px;
		
		float: left;
		
		em {
			font-style: normal;
		}
		
		.subdomain {
			em:nth-child(1) { color: $red-1; }
			em:nth-child(2) { color: $red-2; }
			em:nth-child(3) { color: $red-3; }
			em:nth-child(4) { color: $red-4; }
		}
		
		.domain {
			em:nth-child(1) { color: $green-1; }
			em:nth-child(2) { color: $green-2; }
			em:nth-child(3) { color: $green-3; }
			em:nth-child(4) { color: $green-4; }
		}
		
		.tld {
			em:nth-child(1) { color: $blue-1; }
			em:nth-child(2) { color: $blue-2; }
		}
		
		.separator {
			color: #888;
		}
	}
	
	#subtitle {
		font-family: "Telex", sans-serif;
		font-weight: bold;
		font-size: 18px;
		float: right;
		color: #aaa;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

main {
	.error {
		color: red;
		font-weight: bold;
		margin-bottom: 8px;
	}
	
	section#action {
		margin-top: 20px;
	}
	
	#new-schedule {
		input[type="text"], select {
			@include border-box;
			width: 100%;
		}
		
		.row:not(:last-child) {
			margin-bottom: 10px;
		}
		
		#day-of-week-select {
			text-align: center;
			
			.day {
				display: inline-block;
				margin: 0 2px;
			}
		}
		
		.error {
			color: red;
			font-weight: bold;
			margin-bottom: 8px;
		}
	}
	
	#no-schedules {
		margin: 12px 0;
		color: $gray-1;
	}
	
	#actions {
		margin: 12px 0;
	}
	
	table.schedule {
		margin-bottom: 12px;
		width: 100%;
		
		thead {
			tr {
				.schedule-name {
					width: 100%;
					text-align: left;
					font-size: 20px;
					vertical-align: bottom;
				}
				
				.point-header {
					white-space: nowrap;
					padding: 2px 0;
					color: #777;
					vertical-align: bottom;
				}
			}
		}
		
		tbody {
			td {
				font-size: 14px;
			}
		}
		
		&.weekly .point-header {
			min-width: 80px;
		}
		
		&.daily .point-header {
			min-width: 40px;
		}
	}
}

footer {
	@include clearfix;
	@include unselectable;
	margin-top: 16px;
	padding-top: 6px;
	border-top: 1px solid #eee;
	
	#copyright {
		float: left;
		color: #ccc;
		font-weight: bold;
		font-size: 14px;
		font-family: "Telex", sans-serif;
		cursor: default;
	}
	
	#footer-links {
		float: right;
		font-size: 20px;
		
		a:nth-child(1) { color: $red-1; }
		a:nth-child(2) { color: $red-3; }
		a:nth-child(3) { color: $green-1; }
		a:nth-child(4) { color: $green-3; }
		a:nth-child(5) { color: $blue-1; }
		
		a > i {
			transition: all .5s ease-in-out;
			-ms-transition: all .5s ease-in-out;
			-moz-transition: all .5s ease-in-out;
			-webkit-transition: all .5s ease-in-out;
			
			&:hover {
				// transform: rotate(360deg) scale(2);
				// -ms-transform: rotate(360deg) scale(2);
				// -moz-transform: rotate(360deg) scale(2);
				// -webkit-transform: rotate(360deg) scale(2);
			}
		}
	}
}

section#pitch {
	margin-bottom: 20px;
	font-size: 19px;
	text-align: center;
}

section#promotion, section#action {
	.promotion-column {
		padding: 0 20px;
	}
		
	.title {
		@include clearfix;
		font-family: "Telex", sans-serif;
		font-weight: bold;
		font-size: 18px;
		
		.fa {
			display: block;
			font-size: 24px;
			float: right;
		}
		
		span {
			float: left;
		}
	}
	
	.blurb {
		width: 100%;
		text-align: justify;
	}
	
	form {
		margin-top: 8px;
		
		input[type="text"] {
			width: 130px;
		}
		
		input[type="submit"] {
			width: 70px;
		}
	}
}