@import "utils";

$default-modal-width: $width * 0.3;

div.modal {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 10px;
	position: fixed;
	top: 25px;
	width: $default-modal-width;
	left: 50%;
	margin-left: -($default-modal-width / 2);
	
	> div {
		background: #fff;
		border-radius: 5px;
		background: #fefefe;
		border: 1px solid #ddd;
	}
	
	div.header {
		@include unselectable;
		padding: 10px 10px 6px 10px;
		border-bottom: 1px solid #ddd;
		font-family: "Telex", sans-serif;
		font-weight: bold;
		font-size: 20px;
		color: #222;
	}
	
	div.content {
		padding: 10px;
		background: #fff;
	}
	
	div.footer {
		@include unselectable;
		border-top: 1px solid #eee;
		padding: 6px 10px 10px 10px;
	}
}
